<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
					<iframe 
						allowfullscreen="" src="http://www.youtube.com/embed/1j3IctobSPc?feature=player_detailpage" 
						frameborder="0">
					</iframe>
				</div>
			</div>
		</div>  
	</div>
  </body>
</html>