<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<center>
					<div>
						<h3>
							"Participa de Mi <br />
							Ofrenda para el <br />
							Rey, y cubramos el <br />
							gasto de operación <br />
							de ministerio de <br />
							VidaNueva para el <br />
							2014. La meta este <br />
							año son <br />
							US$55,000"
						</h3>
					</div>

					<div>
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="5VDPQ8YGHX9LY">
							<input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
						</form>
					</div>
				</center>
			</div>
			
			<div class="col-md-9">
				<div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
					<iframe 
						allowfullscreen="" src="http://www.youtube.com/embed/1j3IctobSPc?feature=player_detailpage" 
						frameborder="0">
					</iframe>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<center>
					<a href="http://ibvn.org" target="_BLANK">
						<img class="imageClip" src="/images/logo1.png" />
					</a>
				</center>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
  </body>
</html>